<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ConnectionDB" value="Data Source=localhost;Database=financial;User id=sa;PWD=0"/>
    <!-- 配置后端接口地址uri格式如：http://ip/虚拟目录 -->
    <add key="api-uri" value="http://localhost:92"/>
    <!-- 连接字串调用要验证令牌，本地调用的令牌与服务器里配置文件里的一致才能调用连接字串 -->
    <add key="conn-token" value="ZbCOWyYwjwF7k489Vm9czxTxOzeEHq51"/>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--开发路径 你项目的绝对路径-->
    <add key="run-card" value="D:\SZ HY Products\MES\mes\CSPSS\Templates\\Run Card.xlsx"/>
    <!--部署路径 打包时建的路径-->
    <add key="TemplatePathForPRO" value="Templates/Run Card.xlsx"/>

  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
